<!DOCTYPE html>
<html>    
    <h1>Welcome to the Job Board!</h1>
    <h3>Click <a href='/newjob'> here</a> to enter a new job posting.</h3>
    <h3>Click <a href='/jobboard'> here</a> to view existing job postings.</h3>

</html>